@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700);a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

.spidr-form {
    background: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    box-shadow: 0 0 20px #333333;
    position: relative;
    z-index: 2;
}

.spidr-form h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
    color: #479dafe6;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
}

.spidr-form h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
    color: #969696;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
}

.spidr-form input {
    width: 374px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
    padding: 0.75rem;
    background: #111;
    border: 1px solid #555;
    color: white;
    font-size: 1rem;
}

.spidr-form input::placeholder {
    color: #888;
}

.spidr-form button {
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}


.spidr-form button:hover {
    background-color: #333333;
    border-top-color: #61dafb;
    border-bottom-color: #61dafb;
    border-right-color: #61dafb;
    border-left-color: #61dafb;
    color: #61dafb;
    transition: 0.3s ease;
}

.form-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-gif {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/webbing.gif');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: #000;
    pointer-events: none;
}
